<ion-view class="detail-view">
  <ion-content ng-if="post">
  <div class="featured-image" ng-background="{{post.better_featured_image.source_url}}" size="cover"></div>
	<div class="post" class="padding">
		<h1 ng-bind-html="post.title.rendered" ng-class="activeCategory"></h1>
    <p class="created-info">Posted {{post.date | amDateFormat:'MMMM Do YYYY h:mm A'}} | {{post.author.name}}</p>

    <div class="body padding" ng-bind-html="content | html_filters"></div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" ng-click="shareItem(post)">
        <i class="icon ion-forward"></i>
        Share
      </a>
      <a class="tab-item" ng-click="shareItemAll(post)">
        <i class="icon ion-forward"></i>
        Share All
      </a>
      <a class="tab-item" href="#" ng-click="bookmarkItem(post.id)">
        <i ng-class="{'icon ion-ios-star': bookmarked, 'icon ion-ios-star-outline': !bookmarked}"></i>
        Bookmark
      </a>
    </div>

  </div>

  <!--div class="item item-divider">Comments</div>
    <ion-list ng-if="comments">
      <ion-item ng-repeat="comment in comments">
        <div class="item-body">
          <h3 ng-bind-html="comment.author_name"></h3>
          <p ng-bind-html="comment.content.rendered"></p>
        </div>
      </ion-item>
    </ion-list-->
  </ion-content>
</ion-view>
