<ion-view>
  <ion-content class="detail-view" ng-if="content">
  	<div class="post">
  		<div>
  		  <div class="featured-image" ng-background="{{post.better_featured_image.source_url}}" size="cover"></div>
        <h1 ng-bind-html="post.title.rendered" ng-class="activeCategory"></h1>
        <p class="created-info">Posted {{post.date | amDateFormat:'MMMM Do YYYY h:mm A'}} | {{post.author.name}}</p>
  		</div>
  		<div class="body padding" ng-bind-html="content | html_filters"></div>

      <div class="share">
        <h1>Share</h1>
        <img src="img/facebook.svg" alt="share on Facebook" ng-click="shareViaFacebook(post)">
        <img src="img/instagram.svg" alt="share on Instagram" ng-click="shareViaInstagram(post)">
        <img src="img/pinterest.svg" alt="share on Pinterest" ng-click="shareViaPinterest(post)">
        <img src="img/twitter.svg" alt="share on Twitter" ng-click="shareViaTwitter(post)">
      </div>

    </div>
  </ion-content>
</ion-view>
