.default-transition{
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.size-full {
	width: 100%;
	height: auto;
}

figure {
	width: 100% !important;
	height: auto;
	img {
		width: 100% !important;
		height: auto !important;
	}
}

a {
	color: blue;
}

.hidden {
	display: none !important;
}