@each $color-name, $color in $palettes {
  
  &.item-#{$color-name} {
    border: none;
    
    a {
      height: $menu-item-height;
      line-height: $menu-item-height;
      padding: 0 !important;
      text-align: center;
      font-size: $menu-item-font-size;
    }

    .item-content {
      background-color: palette($color-name, base);
      color: white;
    }
  }
}

.item-with-image {
  border: none;
  background-color: #fff;
  margin: 0;
  position: relative;
  width: 100%;

  .item-content {
    padding: 0;
    background-color: inherit;
  }
  h1 {
    font-size: $slider-heading-font-size;
    font-family: $slider-heading-font;
    position: absolute;
    bottom: 0px;
    background-color: $slider-heading-background;
    color: $slider-heading-color;
    line-height: $slider-heading-line-height;
    padding-top: $slider-heading-padding-top;
    padding-bottom: $slider-heading-padding-bottom;
    padding-left: $slider-heading-padding-left;
    padding-right: $slider-heading-padding-right;
    margin: 0;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
    text-shadow: $slider-heading-text-shadow;
    min-height: $slider-min-height;
    .slide-image {
      height: auto;
      width: 100%;
      margin: 0;
    }
  }
}

.cat-item {
  position: relative;

  .text {
    position: absolute;
    bottom: 0;
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
  }
  img {
    width: 100%;

  }
}