$horizontal-scroll-component-width: 100% !default;
$horizontal-scroll-component-height: auto !default;
$horizontal-scroll-component-border: 1px solid #ddd !default;
$horizontal-scroll-component-padding: 8px !default;

$horizontal-scroll-title-color: #fff !default;
$horizontal-scroll-height: 224px !default;

$horizontal-scroll-item-height: 100% !default;
$horizontal-scroll-item-margin: 3px !default;
$horizontal-scroll-item-width: 40% !default;

$horizontal-scroll-item-image-height: 100% !default;
$horizontal-scroll-item-image-width: 100% !default;

$horizontal-scroll-item-title-font-size: 18px !default;
$horizontal-scroll-item-title-bg: rgba(0,0,0,0.6) !default;
$horizontal-scroll-item-title-width: 100% !default;
$horizontal-scroll-item-title-color: white !default;
$horizontal-scroll-item-title-padding: 10px !default;

$item-height: 67px !default;